table {
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
    /* font-weight: bold; */
    table-layout: fixed;
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
    line-height: 130%;
    position: relative;
    width: 6.92rem;
}

table,
table tr th,
table tr td {
    border: 1px solid gray;
}

th {
    padding-top: .1rem;
    padding-bottom: .1rem;
}

td {
    vertical-align: middle;
    -webkit-vertical-align: middle;
}