ol li{
	list-style:decimal;
}
.clear {
    clear: both;
}
.details{
	padding:.5rem;
	line-height:140%;
}
.content h2{
	font-size:.36rem;
	margin-bottom:.3rem;
}
.content h3{
	margin-bottom:.1rem;
	font-size:.32rem;
}
.content p{
	margin-bottom:.35rem;
	text-align: justify;
	font-size:.28rem;
}
.content ol{
	padding-left:.3rem;
	text-align: justify;
}

.btn-con{
	margin:.5rem 0;
	overflow:hidden;
}
.btn-con .btn-mod{
	
	height:.56rem;
	display:block;
	color:#fff;
	background:-webkit-linear-gradient(left,#5d96ed,#7cb5f4);
	background:linear-gradient(left,#5d96ed,#7cb5f4);
	border-radius:.28rem;
	text-align:center;
	line-height:.56rem;
	font-size:.28rem;
}
.btn-con .btn-mod.col1{
	width:100%;
}
.btn-con .btn-mod.col2{
	width:45%;
	color:#fff;
	background:-webkit-linear-gradient(left,#5d96ed,#7cb5f4);
	background:linear-gradient(left,#5d96ed,#7cb5f4);
	margin:.2rem auto 0;
	box-sizing: border-box;

	
}
/*
.btn-con .btn-mod.col33{
	width:45%;
	color:#fff;
	background:-webkit-linear-gradient(left,#5d96ed,#7cb5f4);
	background:linear-gradient(left,#5d96ed,#7cb5f4);
	margin-top:.2rem;
	box-sizing: border-box;

}*/
.btn-con .btn-mod.col3{
	width:45%;
	color:#5d96ed;
	border:1px solid #5d96ed;
	background:none;
	margin:.2rem auto 0;
	box-sizing: border-box;

	
}

.btn-con .btn-mod.pull-right{
	float: right;
	
}
.btn-con .btn-mod.pull-left{
	float: left;
	
}
.btn-con .btn-mod.centerbtn{
	display:block;clear:both;
	
}
.btn-con .btn-mod.bg{
	color:#fff;
	border:none;
	background:-webkit-linear-gradient(left,#5d96ed,#7cb5f4);
	background:linear-gradient(left,#5d96ed,#7cb5f4);
}

.hot .hot-title{
	display: flex;
	text-align:center;
}
.hot .hot-title h2{
	font-size:.36rem;
	flex:0.9;
}
.hot .hot-title::before,
.hot .hot-title::after{
	content:'';
	width:0;
	height:0;
	flex:1.2;
	border-top:1px solid #bfbfbf;
	margin-top:.13rem;
}
.hot .list{
	margin-left:-.45rem;
	padding-top:.4rem;
	font-size:0;
}
.hot .list a{
	display:inline-block;
	text-align:center;
	margin-left:.43rem;
}
.hot .list a img{
	width:1.88rem;
	border-radius:.1rem;
}
.hot .list a p{
	font-size:.28rem;
	margin-top:.2rem;
	text-align:center;
	width: 1.8rem;
    height: .3rem;
    overflow: hidden;
}