html,
body {
	height: 100%;
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: none;
}

img {
	width: 100%;
	display: block;
	border: none;
}

.relative-div {
	position: relative;
	width: 100%;
}


#lb-div {
	position: absolute;
	top: .63rem;
	left: 0;
}

.banner {
	overflow: hidden;
	margin: 0 auto;
}

.inner {
	width: 41.8rem;
	position: relative;
	/* animation: aaa 5s infinite 2s running; */
}

@keyframes aaa {
	0% {
		transform: translateX(0);
	}

	34% {
		transform: translateX(-24.3%);
	}

	67% {
		transform: translateX(-49%);
	}

	100% {
		transform: translateX(-73%);
	}

}

.innerwrapper {
	float: left;
}

.banner img {
	width: auto;
	height: 10.46rem;
}

#lb-img2 {
	position: relative;
	top: -.37rem;
	left: .03rem;
}

#lb-img3 {
	position: relative;
	top: -.12rem;
	left: -.05rem;
}

#box-div {
	position: absolute;
	top: 1.03rem;
	left: 0;
}

#bottom-div {
	position: absolute;
	bottom: 0;
	left: 0;
}

.relative-div .card-01 {
	position: absolute;
	width: 1.62rem;
	height: 3.37rem;
	bottom: 1.1rem;
	left: .7rem;
}

.relative-div .card-02 {
	left: 2.95rem;
	bottom: 1.67rem;
}

.relative-div .card-03 {
	left: 5.33rem;
	bottom: 2.24rem;
}

.relative-div .detail-card {
	position: absolute;
	width: 2.52rem;
	height: .5rem;
	right: 0;
	bottom: 0;
}


.fixed-div {
	position: sticky;
	bottom: 0;
	left: 0;
}

.fixed-div .apply-card {
	position: absolute;
	width: 3.2rem;
	height: .65rem;
	left: .25rem;
	top: .21rem;
}

.fixed-div .xuehua {
	position: absolute;
	width: 3.2rem;
	height: .65rem;
	right: .25rem;
	top: .21rem;
}

.fixed-div .xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.3rem;
	bottom: .23rem;
}


.fixed-div .er-apply-card {
	position: absolute;
	width: 3.3rem;
	height: .65rem;
	left: 2.1rem;
	top: .25rem;
}

.fixed-div .er-xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.3rem;
	bottom: .88rem;
}


.relative-div .er-other1 {
	position: absolute;
	width: 1.2rem;
	height: .55rem;
	right: 0;
	bottom: 1.21rem;
}

.relative-div .er-other2 {
	position: absolute;
	width: 1.2rem;
	height: .6rem;
	right: 0;
	bottom: .34rem;
}

.er-other1-2 {
	bottom: .95rem !important;
}

.er-other2-2 {
	bottom: .13rem !important;
}