html,
body {
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
    border: none;
}

.relative-div {
    position: relative;
    width: 100%;
}

.relative-div .huodong {
    position: absolute;
    width: 2.2rem;
    height: .6rem;
    right: 1.43rem;
    bottom: 1.62rem;
    border-radius: 0 .2rem;
}

.relative-div .lingqu {
    position: absolute;
    width: 1.8rem;
    height: .5rem;
    left: 1.2rem;
    bottom: 2.38rem;
    border-radius: 0 .23rem;
}

.relative-div .choujiang {
    position: absolute;
    width: 1.8rem;
    height: .5rem;
    right: 1.2rem;
    bottom: 2.38rem;
    border-radius: 0 .23rem;
}

.relative-div .xize {
    position: absolute;
    width: 1.58rem;
    height: .4rem;
    right: .48rem;
    bottom: 1.05rem;
    border-top-left-radius: .23rem;
    border-bottom-left-radius: .23rem;
}