html,
body {
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
    border: none;
}

.relative-div {
    position: relative;
    width: 100%;
}

.relative-div .huodong {
    position: absolute;
    width: 1.6rem;
    height: .42rem;
    right: 0rem;
    bottom: .09rem;
    border-radius: .3rem 0 0 .3rem;
}

.relative-div .lingqu {
    position: absolute;
    width: 1.92rem;
    height: .56rem;
    left: .84rem;
    bottom: .64rem;
    border-radius: 0 .23rem;
}

.relative-div .choujiang {
    position: absolute;
    width: 1.92rem;
    height: .56rem;
    left: .84rem;
    bottom: .7rem;
    border-radius: 0 .23rem;
}

.relative-div #fenqi {
    position: absolute;
    width: 2.4rem;
    height: .6rem;
    left: 2.55rem;
    top: .94rem;
    border-radius: .1rem;
}


.relative-div .xize {
    position: absolute;
    width: 1.1rem;
    height: .4rem;
    left: 3.2rem;
    bottom: .24rem;
}