* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	display: block;
}

.relative-div {
	position: relative;
	width: 100%;
}

.relative-div .yuyue {

}
.relative-div .yuyue-btn{
	position: absolute;
	width: 3.5rem;
	height: .7rem;
	left: 2rem;
	bottom: .34rem;
	animation: scale-yuyue 3s infinite;
	/* transform: skewX(-17deg);	 */
	
}

@keyframes scale-yuyue {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.08);
	}

	100% {
		transform: scale(1);
	}
}

.yuyue-btn img:nth-child(2){
	position: absolute;
	bottom: -.15rem;
	left: .6rem;
}

.relative-div .more-link {
	position: absolute;
	width: .7rem;
	height: .3rem;
	right: .7rem;
	top: .3rem;
}


.relative-div .box-border {
	position: absolute;
	width: 6.7rem;
	height: 2.58rem;
	top: .68rem;
	left: .45rem;
	/* opacity: .5; */
}

.box-border .box-light {
	position: relative;
	width: 100%;
	height: 100%;
}


.box-light:before,
.box-light:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6.7rem;
	height: 2.58rem;
	border: .03rem solid  #f9ed30;
	box-sizing: border-box;
	-webkit-animation: clipAni 2.5s infinite;
}

.box-light:before {
	-webkit-animation-delay: -1s;
}

@keyframes clipAni {

	0%,
	100% {
		clip: rect(0rem, 1rem, 1rem, 0rem);

	}

	16% {
		clip: rect(0rem, 2rem, .5rem, 0rem);
	}

	32% {
		clip: rect(0rem, 6.5rem, .3rem, 3.5rem);
	}

	48% {
		clip: rect(1.7rem, 7rem, 3.6rem, 5rem);
	}

	65% {
		clip: rect(1.5rem, 5rem, 4rem, 1.3rem);
	}

	82% {
		clip: rect(1.5rem, .3rem, 5rem, 0rem);
		/* clip: rect(1.5rem, .3rem, 3rem, 0rem); */
	}
}

.relative-div .wave {
	position: absolute;
	width: 86%;
	height: 2.4rem;
	bottom: .14rem;
	margin-left: 7%;
	opacity: .4;
	overflow: hidden;
}

.wave .circle {
	position: absolute;
	width: 20%;
	height: 1.2rem;
	left: -.3rem;
	top: -.3rem;
	border-radius: 50%;
	background-color: #8d8789;
	animation: circle-opacity 6s infinite;
}

@keyframes circle-opacity {
	0% {
		transform: scale(.8);
		opacity: 0;
	}

	25% {
		transform: scale(3);
		background-color: green;
		opacity: 0.4;
	}

	50% {
		transform: scale(3.5);
		opacity: 0.2;
		background-color: red;
	}

	75% {
		transform: scale(2);
		background-color: green;
		opacity: 0.4;
	}

	100% {
		transform: scale(1);
		opacity: 0.1;
	}
}

.relative-div .cars {
	position: absolute;
	width: 86%;
	height: auto;
	float: left;
	opacity: .4;
	margin-left: 7%;
	top: .3rem;
}

.cars .car {
	width: 1.9rem;
	height: .28rem;
	float: left;
	padding: .2rem;
	margin-left: .5rem;
	margin-top: .3rem;
	border-radius: .1rem;
	left: -100%;
	overflow: hidden;
	background: rgba(0, 0, 0, .1);
}

.car:nth-child(2),
.car:nth-child(4) {
	margin-left: .85rem;
}

.car:nth-child(3),
.car:nth-child(4) {
	margin-top: .46rem;
}

.car .move-car {
	position: relative;
	left: -100%;
	width: 30%;
	top: -.3rem;
	height: .71rem;
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .8) 50%, rgba(255, 255, 255, 0) 100%);
	transform: skewX(-30deg);
	animation: mymove 1.5s reverse;
	animation-iteration-count: infinite;
}


@keyframes mymove {
	from {
		left: 100%;
		transition: 1s ease;
	}
}

.relative-div .open-link {
	position: absolute;
	width: 3.8rem;
	height: .56rem;
	left: 2rem;
	bottom: .95rem;
	transform: skewX(-18deg);
}

.relative-div .hand {
	position: absolute;
	width: .6rem;
	height: .6rem;
	right: 1.9rem;
	bottom: .8rem;
	animation: scale-hand 2s infinite;
}

@keyframes scale-hand {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.2);
	}

	100% {
		transform: scale(1);
	}
}

