html,
body {
    height: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
    border: none;
    margin-top: -0.02rem;
}

.relative-div {
    position: relative;
    width: 100%;
}

.relative-div .xize {
    position: absolute;
    width: .91rem;
    height: .35rem;
    left: 3.2rem;
    bottom: .68rem;
}