.filterdiv{padding:30px 0 0 0;}
.filterdiv select{width:167px;height:30px;border:solid 1px #5d96ed;text-align:right;}
.filterdiv select option{width:100%;text-align:right;}

.eventlist ul li{list-style:none;width:720px;height:150px;float:left;box-sizing:border-box;
position:relative;padding-left:443px;background:#f4f8ff;border-radius:6px;margin-top:30px;
}
.eventlist ul li.mgr{margin-right:80px;}
.eventlist ul li .imgDiv{width:720px;height:150px;position:absolute;top:0px;left:0px;border-radius:6px;overflow:hidden;}
.eventlist ul li p.pgxl{font-size:18px;color:#404040;padding-left:38px;padding-top:47px;}
.eventlist ul li p.pgxx{font-size:22px;color:#404040;padding-left:38px;padding-top:10px;}

.pagination{text-align:center;padding:70px 0 0 0;clear:both;}
.pagination a { border:1px solid #5f99ee; padding:8px 30px; margin:0 20px; border-radius:5px; }
.pagination span {padding:8px 10px 8px 10px; margin:8px 0px 8px -25px; }
.pageNum {
    width: 30px;
    border: 1px solid #5f99ee;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: -15px;
    outline: none;
    text-align:center;
}

.hotcard{margin-top:30px}
.hotcard li{list-style:none;float:left;width:20%;margin-right:5%;text-align:center;padding-bottom:10px;}
.hotcard li:last-child{margin-right:0}
.hotcard li p{font-size:16px;color:#191919; padding:10px 0;}
/*.hotcard li a{font-size:15px;color:#7f7f7f;border-bottom:solid 1px #7f7f7f;padding-bottom:3px}*/
.hotcard li a{font-size:15px;color:#7f7f7f;padding-bottom:3px}

/*
.hotcard{margin-top:30px}
.hotcard li{list-style:none;float:left;width:22%;margin-right:4%;text-align:center;padding-bottom:10px}
.hotcard li.last{margin-right:0}
.hotcard li p{font-size:16px;color:#191919; padding:10px 0;}
.hotcard li a{font-size:15px;color:#7f7f7f;border-bottom:solid 1px #7f7f7f;padding-bottom:3px}
*/


.det-tpl{font-size:34px;color:#191919;padding:20px 0;}
.det-date{font-size:22px;color:#404040;}
.buletpl{font-size:34px;color:#5d96ed;font-weight:bold;padding:20px 0;}
.normal-tpl{font-size:22px;color:#404040;}
.det-content .redw{color:#e50110;}
.xx-tpl{color:#404040;font-size:18px;}

.underline{border-bottom:solid 1px #7f7f7f;padding-bottom:3px;color:#7f7f7f;}
.moreline{text-align:right;padding-top:40px;padding-bottom:10px;}

.event-btn{width:547px;margin:30px auto;text-align: center;overflow: hidden;}
.event-btn .postbtn{width:100%;height:50px;line-height:50px;background:#67a6f4;color:#fff;font-size:22px;text-align:center;letter-spacing:6px;display:block;border-radius:50px;behavior:url(css/PIE-1.htc);}

/*
.event-btn .defaultbtn{height:50px;width:255px;line-height:50px;box-sizing:border-box;display:inline-block;text-align:center;border:2px solid #69a8f5;color:#69a8f5;letter-spacing:6px;font-size:22px;border-radius:50px;margin: 23px 8px;behavior:url(/etc/designs/pccc_v2/resource/clientlibs/pc/css/PIE-1.htc);}
.event-btn .last { float:right; }
.event-btn .pull-left{float:left;}
.event-btn .pull-right{float:right;}
*/
.event-btn .defaultbtn2{height:50px;width:255px;line-height:50px;box-sizing:border-box;display:inline-block;text-align:center;border:2px solid #69a8f5;color:#69a8f5;letter-spacing:6px;font-size:22px;border-radius:50px;margin-top:23px; float:left;behavior:url(css/PIE-1.htc);}

.event-btn .defaultbtn{height:50px;width:255px;line-height:50px;box-sizing:border-box;display:inline-block;text-align:center;background: #67a6f4;border:2px solid #69a8f5;color:#fff;letter-spacing:6px;font-size:22px;border-radius:50px;margin-top:23px; float:left;behavior:url(css/PIE-1.htc);}

.event-btn .last { float:right; }
.event-btn .pull-left{float:left;}
.event-btn .pull-right{float:right;}


/* 轮播 */
.scroll { margin:auto; position:relative; overflow:hidden; }
.scroll #slider li { position:relative; overflow:hidden; }
.scroll, .scroll #slider, .scroll #slider li, .scroll #slider li img { width:100%; }
.scroll #slider li a { display:block; }
.scroll #position { display:none; }
.scroll .swipe { overflow: hidden; visibility: hidden; position: relative;}
.scroll .swipe-wrap { overflow: hidden; position: relative; }
.scroll .swipe-wrap .swipelist { float:left; width:100%; position:relative; }
.scroll .swipe-wrap .swipelist img { width:100%; }

@media screen and (max-width:1540px){
.kv section a img{width: 1140px;}

.eventlist ul li{width:550px;height:108px;padding-left:320px;margin-top:30px;}
.eventlist ul li.mgr{margin-right:40px;}
.eventlist ul li .imgDiv{width:550px;height:108px;}
.eventlist ul li p.pgxl{font-size:14px;padding-left:18px;padding-top:27px;}
.eventlist ul li p.pgxx{font-size:16px;padding-left:18px;padding-top:10px;}
}
@media screen and (max-width:1140px){

.kv section a img{width: 960px;}

.eventlist ul li{width:460px;height:85px;padding-left:250px;margin-top:30px;}
.eventlist ul li.mgr{margin-right:40px;}
.eventlist ul li .imgDiv{width:460px;height:85px;}
.eventlist ul li p.pgxl{font-size:14px;padding-left:18px;padding-top:20px;}
.eventlist ul li p.pgxx{font-size:16px;padding-left:18px;padding-top:6px;}

.pagination{text-align:center;padding:40px 0 0 0;clear:both;}

/*.hotcard li p{font-size:14px;color:#191919;line-height:55px}*/
.hotcard li p{font-size:14px;color:#191919;padding:10px 0;}
.hotcard li a{font-size:14px;color:#7f7f7f}

}
.centerbtn{margin:auto;}