
html,
body {
    font-family:'bankcomm',sans-serif;
    font-size:.24rem;
    color:#404040;
    background-color: #fff;
}
a{color:#404040;}

img {
    width: 100%;
    display: block;
}
.red{color:#e50110;}
.blue{color:#5d96ed;}
.blod{font-weight:bold;}
#main .fz26{font-size:.28rem;}
.hide{display:none;}

.title{
    position: relative;
}
.title h2{
    font-size:.36rem;
}
.title a{
    position: absolute;
    color:#5d96ed;
    font-size:.22rem;
    top:50%;
    right:0;
    -webkit-transform:translateY(-50%);
    -moz-webkit-transform:translateY(-50%);
    -ms-webkit-transform:translateY(-50%);
    -o-webkit-transform:translateY(-50%);
    transform:translateY(-50%);
}
/*header*/

header {
    height:.88rem;
    background-color: #fff;
    position: relative;
}

.logo{
    width:3.8rem;
    height:.88rem;
    background:url(../images/logo.png) no-repeat;
    background-size:cover;
    float:left;
}
.nav-content{
    height:100%;
    float:right;
}
.nav-content ul{
    list-style:none;
    margin:.2rem .1rem 0 0;
    overflow:hidden;
}
.nav-content li{
    width:.49rem;
    float:left;
    margin-right:.16rem;
}

.nav-menu{
    width:2rem;
    position: absolute;
    bottom:0;
    right:.28rem;
    background-color:#fff;
    transform:translateY(98%);
    z-index:999;
    display:none;
}
/*.nav-menu::before{
    content:'';
    width: .23rem;
    height: .12rem;
    position: absolute;
    background:url(../images/nav-menu-i.png) no-repeat center;
    background-size:cover;
    top:-.12rem;
    right:.1rem;
}*/
.nav-menu li{
    height:.6rem;
    line-height:.6rem;
    text-align:center;
    border-bottom:1px solid #bfbfbf;
}
.nav-menu li a{
    height:100%;
    display:block;
    font-size:.26rem;
    color:#404040;
}
.nav-menu li.active a{
    color:#5d96ed;
}
.nav-menu li.active a::before{
    content:'';
    display:inline-block;
    width:.05rem;
    height:.05rem;
    background-color:#5d96ed;
    border-radius:100%;
    vertical-align:middle;
    margin-right:.1rem;
}

.nav-menu li a::before {
    content: '';
    display: inline-block;
    width: .05rem;
    height: .05rem;
    background-color: #fff;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: .1rem;
}
.nav-menu li a{    margin-right: 0.1rem;}

/* title */
.top-title{
    height:.5rem;
    line-height:.5rem;
    text-align:center;
    position: relative;
    background-color:#ecf6ff;
}
.top-title h1{
    color:#7f7f7f;
    font-size:.28rem;
}
.top-title a{
    width:1rem;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
.top-title a::before{
    content:'';
    width:.14rem;
    height:.22rem;
    position: absolute;
    top:50%;
    left:.49rem;
    background:url(../images/back-arrow.png) no-repeat center;
    background-size:cover;
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);:;
}
/* kv slide */

.kv.swiper-container {
    padding: .4rem 0;
}

.kv.swiper-container .mask-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0;
    top: 0;
    -webkit-transition:background .8s;
    transition:background .8s;
}

.kv.swiper-container .swiper-slide {
    width: 6rem;
    -webkit-transform: scale(.85);
    transform: scale(.85);
    box-shadow: 0 0 .5rem #777;
    border-radius: .1rem;
    overflow: hidden;
}

.kv.swiper-container .swiper-slide-prev,
.kv.swiper-container .swiper-slide-next {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.kv.swiper-container .swiper-slide-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.swiper-pagination-bullet {
    width: .1rem;
    height: .1rem;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .11rem;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: #fff;
    opacity: .5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: .07rem;
}

/*select box*/

#wrapper .select-box{
    width:99.5%;
    max-height:5rem;
    position: absolute;
    left:0;
    bottom:0;
    -webkit-transform:translateY(100%);
    background:#fff;
    border:1px solid #bfbfbf;
    z-index:10;
    overflow-y:auto;
    display:none;
}
#wrapper .select-box p{
    margin:0 .2rem;
    height:.6rem;
    text-align:left;
    font-size:.24rem;
    line-height:.6rem;
    border-bottom:1px solid #bfbfbf;
    position: relative;
    padding-left:.35rem;
}
#wrapper .select-box p:last-child{
    border:none;
}
#wrapper .select-cl.active,
#wrapper .select-box p.active{
    color:#5d96ed;
}
#wrapper .select-box p.active::before{
    content:'';
    position: absolute;
    width:.24rem;
    height:.17rem;
    background:url(/content/dam/pccc_wap/images/sel-i.png) no-repeat center;
    background-size:cover;
    left:0;
    top:.19rem;
}

#wrapper .select-cl.active::before,
#wrapper .select-cl.active::after{
    border-width: 0 .075rem .07rem .075rem;
    border-color: transparent transparent #5d96ed transparent;
}


/*footer*/

footer {
    background-color: #609bef;
    color: #fff;
    font-size:0;
    overflow:hidden;
    text-align:center;
    font-size:.22rem;
}
footer p{margin:.2rem 0; padding:0 .2rem;}
footer a{
    color: #ffffff;
    text-align:center;
    border-bottom:1px solid #fff;
    margin:0 7%;
    display:inline-block;
}
footer .icp,
footer .tel{
    display:block;
}
footer .tel span{
    display:inline-block;
    text-align:left;
}
footer .tel span:nth-child(2){
    text-align:right;
    margin-left:7%;
}


