* {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: none;
}

img {
	width: 100%;
	display: block;
	border: none;
}

.relative-div {
	position: relative;
	width: 100%;
}


#lb-div {
	position: absolute;
	top: .63rem;
	left: 0;
}

.banner {
	overflow: hidden;
	margin: 0 auto;
}

.inner {
	width: 41.8rem;
	position: relative;
	/* animation: aaa 5s infinite 2s running; */
}

@keyframes aaa {
	0% {
		transform: translateX(0);
	}

	34% {
		transform: translateX(-24.3%);
	}

	67% {
		transform: translateX(-49%);
	}

	100% {
		transform: translateX(-73%);
	}

}

.innerwrapper {
	float: left;
}

.banner img {
	width: auto;
	height: 10.46rem;
}

#lb-img2 {
	position: relative;
	top: -.37rem;
	left: .03rem;
}

#lb-img3 {
	position: relative;
	top: -.12rem;
	left: -.05rem;
}

#box-div {
	position: absolute;
	top: 1.03rem;
	left: 0;
}

#bottom-div {
	position: absolute;
	bottom: 0;
	left: 0;
}

.relative-div .card-01 {
	position: absolute;
	width: 1.62rem;
	height: 3.37rem;
}

.relative-div .card-02 {
	left: 1.62rem;
	bottom: 1.25rem;
}

.relative-div .card-03 {
	left: 4.46rem;
	bottom: 1.94rem;
}

.relative-div .xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.3rem;
	top: .23rem;
}

.relative-div .er-xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.28rem;
	bottom: .96rem;
}