* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	display: block;
}

#content {
	position: relative;
}

.relative-div {
	position: relative;
	width: 100%;
}


.relative-div .xize {
	position: absolute;
	width: 3rem;
	height: .7rem;
	right: 1.4rem;
}

.relative-div .apply-div {
	position: absolute;
	width: 2.9rem;
	height: .8rem;
	left: 2.32rem;
	top: .3rem;
}

.relative-div .buy-car {
	position: absolute;
	width: 5.4rem;
	height: 1.3rem;
	left: 1.3rem;
	top: .5rem;
}