.main{
			display: block;
			font-size:0;
		}
		img{
			width: 100%;
		}
		.xize{
			display: block;
			position: relative;
		}
		.btn_xize{
			display: block;
			position: absolute;
			top: 32%;
			right: 12%;
			width: 16%;
			height: 12%;
		}