* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    display: block;
}

.tc-div {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    display: none;
}

.tc-div .tc-img {
    position: fixed;
    left: 35%;
    top: 15%;
    width: 30%;
    height: 60%;
    opacity: 2;
}

.tc-img .close {
    position: absolute;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: 80px;
    font-size: 50px;
    padding: 0 15px;
    border-radius: 10px;
    right: 0;
}

.relative-div {
    position: relative;
    width: 100%;
}

.relative-div .xize {
    position: absolute;
    width: 191px;
    height: 58px;
    right: 0px;
    top: 46px;
}

.relative-div .left-tc {
    position: absolute;
    width: 430px;
    height: 120px;
    left: 291px;
    top: 18px;
}

.relative-div .right-tc {
    position: absolute;
    width: 430px;
    height: 120px;
    right: 291px;
    top: 18px;
}

.relative-div .link-other {
    position: absolute;
    width: 925px;
    height: 80px;
    bottom: 50px;
    left: 320px;

}

.relative-div .link-other-up {
    position: absolute;
    width: 925px;
    height: 80px;
    top: 17px;
    left: 320px;
}

.relative-div .link-other-down {
    position: absolute;
    width: 925px;
    height: 80px;
    top: 157px;
    left: 320px;
}

.relative-div .link-other-left{
    position: absolute;
    width: 484px;
    height: 380px;
    top: 6px;
    left: 233px;
    background-color: rgba(0, 0, 0, 0.8);  
}

.relative-div .link-other-right{
    position: absolute;
    width: 508px;
    height: 380px;
    top: 6px;
    right: 239px;
    background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 1540px) {

    .relative-div .xize {
        position: absolute;
        width: 143px;
        height: 48px;
        right: 0px;
        top: 32px;
    }

    .relative-div .left-tc {
        position: absolute;
        width: 319px;
        height: 89px;
        left: 220px;
        top: 14px;
    }

    .relative-div .right-tc {
        position: absolute;
        width: 319px;
        height: 89px;
        right: 220px;
        top: 14px;
    }

    .relative-div .link-other {
        position: absolute;
        width: 695px;
        height: 50px;
        bottom: 44px;
        left: 240px;

    }

    .relative-div .link-other-up {
        position: absolute;
        width: 695px;
        height: 50px;
        top: 17px;
        left: 240px;
    }

    .relative-div .link-other-down {
        position: absolute;
        width: 695px;
        height: 50px;
        top: 122px;
        left: 240px;
    }

    .relative-div .link-other-left{
        position: absolute;
        width: 364px;
        height: 284px;
        top: 3px;
        left: 175px;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .relative-div .link-other-right{
        position: absolute;
        width: 384px;
        height: 285px;
        top: 3px;
        right: 178px;
        background-color: rgba(0, 0, 0, 0.8);
    }    
}

@media screen and (max-width: 1140px) {
    .relative-div .xize {
        position: absolute;
        width: 120px;
        height: 38px;
        right: 0px;
        top: 28px;
    }

    .relative-div .left-tc {
        position: absolute;
        width: 267px;
        height: 80px;
        left: 186px;
        top: 10px;
    }

    .relative-div .right-tc {
        position: absolute;
        width: 267px;
        height: 80px;
        right: 186px;
        top: 10px;
    }

    .relative-div .link-other{
        position: absolute;
        width: 581px;
        height: 50px;
        bottom: 34px;
        left: 205px;
    
    }
    
    .relative-div .link-other-up{
        position: absolute;
        width: 581px;
        height: 50px;
        top: 10px;
        left: 205px;
    }
    .relative-div .link-other-down{
        position: absolute;
        width: 581px;
        height: 50px;
        top: 99px;
        left: 205px;
    }

    .relative-div .link-other-left{
        position: absolute;
        width: 308px;
        height: 240px;
        top: 3px;
        left: 146px;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .relative-div .link-other-right{
        position: absolute;
        width: 324px;
        height: 240px;
        top: 3px;
        right: 149px;
        background-color: rgba(0, 0, 0, 0.8);
    }   



}