html,
body {
    height: 100%;
    overflow-x: hidden;    
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
    /* float: left; */
    /* vertical-align: middle;
    -webkit-vertical-align: middle; */
    border: none;
}

.relative-div {
    position: relative;
    width: 100%;
    display: block;
    float: left;
    vertical-align: middle;
    -webkit-vertical-align: middle;
}

.relative-div .apply-card {
    position: absolute;
    width: 3.28rem;
    height: .85rem;
    left: 2.12rem;
    bottom: .26rem;
    border-radius: .12rem;
}

.relative-div .xize01 {
    position: absolute;
    width: 0.9rem;
    height: .33rem;
    left: 3.3rem;
    bottom: .68rem;
}

.relative-div .xize {
    position: absolute;
    width: 0.9rem;
    height: .33rem;
    left: 3.3rem;
    bottom: .62rem;
}

table {
    border-collapse: collapse;
    text-align: center;
    font-size: 12px;
    /* font-weight: bold; */
    table-layout: fixed;
    word-wrap: break-word;
    -webkit-word-wrap: break-word;
    line-height: 130%;
    position: relative;
    width: 6.92rem;
}

table,
table tr th,
table tr td {
    border: 1px solid gray;
}

th {
    padding-top: .1rem;
    padding-bottom: .1rem;
}

td {
    vertical-align: middle;
    -webkit-vertical-align: middle;
}