* {
	margin: 0;
	padding: 0;
}

#wrapper {
	display: none;
}

img {
	width: 100%;
	display: block;
	border: none;
}

.relative-div {
	position: relative;
	width: 100%;
}

#video-div {
	position: absolute;
	width: 100%;
	top: .5rem;
	background-color: rgba(0, 0, 0, 0.6);
}

.video-div #contentBtn {
	position: absolute;
	width: 1rem;
	height: 1rem;
	z-index: 679;
	top: 1.5rem;
	left: 42%;
	opacity: 0.6;
}

.relative-div .card-01 {
	position: absolute;
	width: 1.62rem;
	height: 2.85rem;
	bottom: 1.1rem;
	left: .95rem;
}

.relative-div .card-02 {
	left: 2.95rem;
	bottom: 1.5rem;
	height: 3rem;
}

.relative-div .card-03 {
	left: 5.03rem;
	bottom: 2rem;
	height: 3rem;
}

.relative-div .detail-card {
	position: absolute;
	width: 2.52rem;
	height: .5rem;
	right: 0;
	bottom: .36rem;
}


.fixed-div {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	left: 0;
}

.fixed-div .apply-card {
	position: absolute;
	width: 3.2rem;
	height: .65rem;
	left: .25rem;
	top: .21rem;
}

.fixed-div .xuehua {
	position: absolute;
	width: 3.2rem;
	height: .65rem;
	right: .25rem;
	top: .21rem;
}

.fixed-div .xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.3rem;
	bottom: .23rem;
}


.fixed-div .er-apply-card {
	position: absolute;
	width: 3.3rem;
	height: .65rem;
	left: 2.1rem;
	top: .25rem;
}

.fixed-div .er-xize {
	position: absolute;
	width: .95rem;
	height: .35rem;
	left: 3.3rem;
	bottom: .88rem;
}


.relative-div .er-other1 {
	position: absolute;
	width: 1.2rem;
	height: .55rem;
	right: 0;
	bottom: 1.21rem;
}

.relative-div .er-other2 {
	position: absolute;
	width: 1.2rem;
	height: .6rem;
	right: 0;
	bottom: .34rem;
}

.er-other1-2 {
	bottom: .95rem !important;
}

.er-other2-2 {
	bottom: .13rem !important;
}

#gif-liujin {
	position: absolute;
    bottom: 0.65rem;
    left: .79rem;
    width: 2rem;
    height: 3.18rem;
    /* background: black; */
    overflow: hidden;
    border-radius: .05rem;
}
#gif-liujin img{
	width: 2.07rem;
    height: 3.26rem;
    top: -0.02rem;
    position: absolute;
}

#gif-xingchen{
	position: absolute;
    bottom: .38rem;
    left: .9rem;
    width: 2.15rem;
    height: 3.4rem;
}