.act {
	position: relative;
	background-color: #fff;
}

.act img {
	display: block;
	max-width: 100%;
	display: none;
}

.act .w-100 {
	width: 100% !important;
}

.act .t0 {
	top: 0;
}

.act .overflow-hidden {
	overflow: hidden;
}

.act .position-absolute {
	position: absolute;
}

.act .position-relative {
	position: relative;
}

.act .position-sticky {
	position: sticky;
	position: -webkit-sticky;
}

.act .z-index-0 {
	z-index: 0;
}

.act [class *=link-] {
	background-color: rgba(0, 168, 255, 0);
	/*position: absolute;*/
}

/******/
.act .srpite_container {
	/* padding-top: 1rem; */
}

/******/
.act .link-rule {
	width: .85rem;
	height: .26rem;
	display: block;
	padding: .25rem .72rem;
}

/**********/
.act .navgator-content {
	/* padding: 0 .75rem; */
	/* background-color: rgba(245, 249, 234, 1); */
}

.act .link-navgator {
	margin: .2rem 0;
}

/*******/
.act .sticky-container {
	bottom: 0;
	z-index: 700;
	text-align: center;
	background-color: rgba(246, 249, 240, 0.8);
	overflow: hidden;
}

.sticky-container .btn-img {
	border-radius: 0.5rem 0.5rem 0 0;
}

.act .sticky-container [class *=link-] {
	position: relative;
}

.act .sticky-container .btn_navgate {
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

/******/
.heartbeat {
	-webkit-animation: heartbeat 1.5s infinite ease-in;
	animation: heartbeat 1.5s infinite ease-in;
}

@-webkit-keyframes heartbeat {
	0% {
		-webkit-transform: scale(1);
		opacity: 1;
	}

	15% {
		-webkit-transform: scale(1.15);
		opacity: 0.5;
	}

	30% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

@keyframes heartbeat {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	15% {
		transform: scale(1.15);
		opacity: 0.5;
	}

	30% {
		transform: scale(1);
		opacity: 1;
	}
}

/******/
.act [class *=link-btn_] {
	width: 2.25rem;
	height: .65rem;
	display: inline-block;
	margin: 0 .2rem .3rem;
}

/*********/
.act .sticky-container [class *=link-navgate_] {
	width: 1.96rem;
	height: auto;
}

.link-navgate_1 {
	top: 0.0265rem;
}

#hidden-div1 {
	position: relative;
	width: 100%;
	height: 14.5rem;
}

.act .absolute-img-div {
	position: absolute;
	top: 12.5rem;
	z-index: 220;
}

.act #dh-img-01 {
	position: absolute;
	z-index: 200;
	opacity: 1;
}

.act #dh-img-02 {
	position: absolute;
	z-index: 100;
	opacity: 1;
}

.act #video-div {
	position: relative;
	width: 100%;
	height: 3rem;
	top: 6.5rem;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
}

.video-div #contentBtn {
	position: absolute;
	width: 1rem;
	height: 1rem;
	z-index: 679;
	top: 1.5rem;
	left: 42%;
	opacity: 0.6;
}

.position-relative .huoying {
	position: absolute;
	right: 1.4rem;
	width: 4.8rem;
	height: 1.15rem;
	bottom: 0.1rem;
}

.position-relative .katong {
    position: absolute;
    right: 1.4rem;
    width: 3.8rem;
    height: .5rem;
    bottom: 0.2rem;
}

.position-relative .bianlian {
	position: absolute;
	right: 0.4rem;
	width: 5.8rem;
	height: 1.15rem;
	bottom: 0.2rem;
}

.position-relative .wenshen {
	position: absolute;
	right: 1.4rem;
	width: 4.8rem;
	height: 1.15rem;
	bottom: 0.1rem;
}

.position-relative .aili {
	position: absolute;
	right: 1.2rem;
	width: 4rem;
	height: 0.4rem;
	bottom: 0.2rem;
}

.sticky-container .card-apply {
	position: absolute;
	width: 5rem;
	height: 0.7rem;
	top: 0.4rem;
	left: 1.25rem;
}

.sticky-container .xize {
	position: absolute;
	width: 1.1rem;
	height: 0.3rem;
	bottom: 0.1rem;
	left: 3.25rem;
}

#bottom-lb {
	display: none;
}

#bottom-lb {
	position: absolute;
	width: 78%;
	left: 11%;
	height: 2.55rem;
	bottom: 1.65rem;
	border: rgba(255, 255, 255, 0.8) solid 0.02rem;
	border-inline: rgba(255, 255, 255, 0.8) solid 0.02rem;
}

#bottom-lb img {
	display: block;
}

#change-face {
	position: absolute;
	width: 4.7rem;
	height: 2.96rem;
	background-color: #000000;
	z-index: 230;
	top: .3rem;
	left: 1.4rem;
	border-radius: 5%;
	display: none;
}

#change-face img {
	border-radius: 5%;
}
